*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;

}

.header{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/bg-index.jpg) center/cover fixed no-repeat;
}

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    min-height: 10vh;
    background-color: #001219;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    position: fixed;
    z-index:1;
}

.logo{
    color: white;
    text-transform:uppercase;
    letter-spacing:5px;
    font-size:3vh;
}

.logo h4 {
    padding-left: 10vw;
}

.nav-links{
    display: flex;
    justify-content:space-between;
    width:30%;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight:bold;
    font-size:1vw;
}

.nav-links a:hover{
    color: #ee9b00;
}

.icon{
    padding-right: 50px;
}

.fa-solid{
    color:white;
}

.content{

    text-align: center;
    width:fit-content;
    padding-top:8vw;
    padding-left:4vw;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 5vh;
}

.class{
    height:fit-content;
    width: fit-content;
}

.class1 h2{
    font-size: 4vw;
}

.class1 span{
    color:#ee9b00;
    font-size: 4vw;
}

.class1 p{
    font-size: 3vw;
}

.content span2{
    color:#ee9b00;
    font-size: 4vw;
}

.destination input{
    margin-top: 2vw;
    width: 20vw;
    padding: 1vh;
    border-radius: .5vw;
}


.form{
    width: 30vw;
    height: auto;
    background: linear-gradient(rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    top: 10vw;
    border-radius:0.5vw;
}

.form h2{
    font-size: 4vw;
    padding-top: 1vw;
    color:#ee9b00
}

.form input{
    width:23vw;
    height:2vw;
    margin-top: 1vw;
    border-radius: 5px;
}

.form p{
    font-size: 1.5vw;
    padding-top: 2vw;
}

.form a{
    margin:0px;
    padding:0px;
    text-decoration: none;
    color:#fff
}

.form a:hover{
    color: #0a9396;
}
.btn{
    margin-top: 2vw;
}
.footer{
    min-height: 1.5vw;
    background-color: black;
    display: flex;
    align-items: center;     
}

.footer p{
    padding:10vh;
    color:white;      
}

.social_links {
    margin-left:auto;
    margin-right: 10vh;
}

.social_links a{
    padding: 1vw;
}

.fa-brands{
    color:white;
}


.btn a button{
    
    padding:0.6vw 3vw;
    background-color: rgba(0,0,0,0.2);
    border-width: 0.2vw;
    border-color: #ee9b00;
    border-style: solid;
    font-weight: bold;
    color:#fff;
    box-shadow: inset 0 0 0 0 #ee9b00;
    text-decoration: none;
    transition: ease-out 0.5s;

}



.btn a button:hover{
    box-shadow: inset 200px 0 0 0 #ee9b00;
    position:relative;
    color:white;   
    cursor: pointer;     
}