nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    min-height: 10vh;
    background-color: #001219;
    font-family: 'Open Sans', sans-serif;
    position:fixed;
    width: 100%;
    z-index: 1;
}

.logo{
    color: white;
    text-transform:uppercase;
    letter-spacing:5px;
    font-size:20px;
}

nav h4 {
    padding-left: 100px;
}

.nav-links{
    display: flex;
    justify-content:space-between;
    width:30%;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight:bold;
    font-size:14px;
}

.nav-links a:hover{
    color: #ee9b00;
}

.icon a{
    padding-right: 50px;
    text-decoration: none;
    color:white;
    font-weight: bold;
}

.footer{
    min-height: 15vh;
    background-color: black;
    display: flex;
    align-items: center; 
}

.footer p{
    padding:10vh;
    color:white;
    ;      
}

.social_links {
    margin-left:auto;
    margin-right: 10vh;
}

.social_links a{
    padding: 10px;
}

.fa-brands{
    color:white;
}