*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}


#form_cust
{
    background: linear-gradient(rgba(148,210,189,0.5),rgba(148,210,189, 0.5));
    margin: 0px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 6vh;
    /* margin: 30px auto; */
    /* border: 2px solid black; */
}
.option-1
{
    display: inline-block;
    margin: 1vh;
    border-radius: 2vh;
}
.form1
{
    /* display: flex; */
    padding: 2vw;
}

.content
{
    display: flex;
    height: 48vh;
    background-color: #dde3df;
    margin: 4vh 4vw;
    padding: 3vh 0vw;
}
.outer-1
{
    display: flex;
    border: 2px solid #ee9b00;
    border-top-color: rgb(12, 12, 12);
    border-top-style: solid;
    border-top-width: 0px;
    width: 60vw;
    height: 43vh;
    justify-content: center;
    /* align-items: center; */
    margin: 1vh 1vw;
}

.form1 input
{
    width: 25px;
    height: 19px;
    padding: 7px;
    margin: 35px 4px;
    font-size: 22px;
    border-radius: 9px;
}
.book-detail1
{
    display: flex;
    border: 2px solid #ee9b00;
    padding: 0vh 1.68vw;
    width: 29.5vw;
    height: 31vh;
    justify-content: center;
    align-items: center;
    margin: 10vh 1vw;
    padding-bottom: 3vh;
}
.head-11
{
    border: 3px solid rgb(27, 27, 27);
    background: linear-gradient(rgba(148, 210, 189, 0.5), rgba(148, 210, 189, 0.5));
    margin: 0vh auto;
    padding: 1vh 0.65vw;
    width: 58.5vw;
    height: 6vh;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
}

.head-11 ul
{
    text-decoration: none;
    list-style: none;
    margin: 0vw 0vh 0vh 31vw;
    border: 1px solid black;
    border-radius: 1vh;
    background-color: #6abd83;
}
.head-11 ul li a
{
    color: rgb(51, 49, 49);
    display: block;
    padding: 1vh 1.5vw;
    text-decoration: none;
    border-radius: 1vh;
}
.head-11 ul li a:hover
{
    color: black;
    background-color: white;
}
.option11
{
    display: inline-block;
    background: linear-gradient(rgba(148,210,189,0.5),rgba(148,210,189, 0.5));
    border: 2px solid black;
    /*width: 100px;
    display: inline-block;
    padding: 10px;*/
    margin: 1vh;
    border-radius: 2vh;
}
.butt-1
{
    margin-left: 591px;
}
.headline1
{
    border: 3px solid rgb(8, 8, 8);
    background: linear-gradient(rgba(148,210,189,0.5),rgba(148,210,189, 0.5));
    margin: 4px auto;
    padding: 8px 73px;
    width: 22vw;
    height: auto;
    font-size: 2vw;
    display: flex;
    align-items: center;
}


.td1
{
    width: 8vw;
    margin: 1vh;
    padding: 1vh;
    padding-left: 2vw;
}
.td2
{
    width: 19vw;
    padding-left: 4vh;
}
.btn a button {
    padding: 0.5vw 2.5vw;
    background-color: rgb(6 6 6 / 30%);
    border-width: 0.2vw;
    border-color: #ee9b00;
    border-style: solid;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.3vw;
    color: #fff;
    box-shadow: inset 0 0 0 0 #ee9b00;
    text-decoration: none;
    transition: ease-out 0.5s;
    margin-top: 4vh;
    margin-left: 45vw;
}
   
.btn a button:hover{
    box-shadow: inset 200px 0 0 0 #ee9b00;
    position:relative;
    color:white;   
    cursor: pointer;     
}
.billi
{
    display:flex;
    margin-top: 0vh;
    width: 100%;
    font-size: 30px;
    background-color: #ee9b00;
    /* padding:0.5vh 10vw; */
}

.billi h2{
    padding-left:5vh;
}
