*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.body{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(background/bg-content.jpg) center/cover fixed no-repeat;
    min-height: 100vh;   
}

.body h2{
    padding-top: 90px;
    padding-left:70px;
    color: #fb8500;
}

.body h2 span{
    color: white;
}

.form{
    display: flex;    
}

#content {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    height: 30vw;
    width: 30vw;
    margin:50px;
    padding-top:1vw;
    border-radius: 0.8vw;
    display: block;
    text-align: center;
}

#content h1{
    color: #fb8500;
    padding-bottom: 10px;
}

#content p{
    text-align: left;
    padding:10px 30px;
    color:aliceblue;
}

#content input{
    width:22vw;
    height:1.5vw;
    text-align: left;
    border-radius: 5px;
}

.btn{margin-top:30px;
}

.btn a button{
    
    padding:0.6vw 3vw;
    background-color: rgba(0,0,0,0.2);
    border-width: 0.2vw;
    border-color: #ee9b00;
    border-style: solid;
    font-weight: bold;
    color:#fff;
    box-shadow: inset 0 0 0 0 #ee9b00;
    text-decoration: none;
    transition: ease-out 0.5s;

}



.btn a button:hover{
    box-shadow: inset 200px 0 0 0 #ee9b00;
    position:relative;
    color:white;   
    cursor: pointer;     
}

#content2{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    height: 30vw;
    width: 70vw;
    margin:3.5vw;
    padding-top:1vw;
    border-radius: 8px;
    float:left;
} 

#content2 h3{    
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    color: #fb8500;
    padding-bottom: 10px;
}