*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.body{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(background/bg-content.jpg) center/cover fixed no-repeat;
    min-height: 100vh;   
}

nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    min-height: 10vh;
    background-color: #001219;
    font-family: 'Open Sans', sans-serif;
    position:fixed;
    width: 100%;
    z-index: 1;
}

.logo{
    color: white;
    text-transform:uppercase;
    letter-spacing:5px;
    font-size:20px;
}

nav h4 {
    padding-left: 100px;
}

.nav-links{
    display: flex;
    justify-content:space-between;
    width:30%;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight:bold;
    font-size:14px;
}

.nav-links a:hover{
    color: #ee9b00;
}

.icon a{
    padding-right: 50px;
    text-decoration: none;
    color:white;
    font-weight: bold;
}

.footer{
    min-height: 15vh;
    background-color: black;
    display: flex;
    align-items: center; 
}

.footer p{
    padding:10vh;
    color:white;
    ;      
}

.social_links {
    margin-left:auto;
    margin-right: 10vh;
}

.social_links a{
    padding: 10px;
}

.fa-brands{
    color:white;
}

.body h2{
    padding-top: 90px;
    padding-left:70px;
    color: #fb8500;
}

.body h2 span{
    color: white;
}

#content {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    height: 400px;
    width: 400px;
    margin:50px;
    padding-top:20px;
    border-radius: 8px;
    float:left;
}

#content h1{
    text-align: center;
    color: #fb8500;
    padding-bottom: 10px;
}

#content p{
    text-align: left;
    padding:10px 30px;
    color:aliceblue;
}

#content input{
    width:340px;
    height:20px;
    margin-left:30px;
    text-align: left;
    border-radius: 5px;
}

.btn{
    text-align: center;
    margin-top:30px;
}

.btn a button{
    
    padding:10px 50px;
    background-color: rgba(0,0,0,0.2);
    border-width: 2px;
    border-color: #ee9b00;
    border-style: solid;
    font-weight: bold;
    color:#fff;
    box-shadow: inset 0 0 0 0 #ee9b00;
    text-decoration: none;
    transition: ease-out 0.5s;

}

.btn a button:hover{
    box-shadow: inset 200px 0 0 0 #ee9b00;
    position:relative;
    color:white;   
    cursor: pointer;     
}

#content2{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    height: 400px;
    width: 800px;
    margin:50px;
    padding-top:20px;
    border-radius: 8px;
    float:left;
} 

#content2 h3{    
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #fb8500;
    padding-bottom: 10px;
}