nav{
    display:flex;
    justify-content:space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #001219;
    font-family: 'Open Sans', sans-serif;
    position:fixed;
    width: 100%;
    z-index: 1;
}

.logo{
    color: white;
    text-transform:uppercase;
    letter-spacing:5px;
    font-size:25px;
}

.nav-links{
    display: flex;
    justify-content:space-between;
    width:35%;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight:bold;
    font-size:15px;
}

.nav-links a:hover{
    color: #ee9b00;
}

.icon a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
