*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.body{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(background/bg-rent.jpg) center/cover fixed no-repeat;
    /* min-height: 100vh;  */
    display: flex; 
    flex-direction: column; 
}

.header h3{
    padding-top:90px;
    padding-left:40px;
    font-size: 50px;
    color:#ee9b00;
}
/* *{
    margin: 0px;
    padding: 0px;
    font-family: 'Hubballi', cursive;
    font-weight: 600;
} */
img
{
    width: 17vw;
    height: 10vw;
}
#select_car
{
    background-image: url('../img/formbg.jpg');
    background-repeat: no-repeat;
    margin: 10px;
}
.sel_car
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.car
{
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: 2px solid black;
    border-radius: 6px;
    width: 84%;
}
.list
{
    display: flex;
    margin: 4px;
    padding: 15px;
    list-style: none;
}
.list a
{
    padding-top: 20px;
    font-size: 23px;
}

#select_car::after
{
    content: "";
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
    overflow: hidden;
}
.img{
    margin: 20px 20px;
    /* width: 5px;
    size: 6px; */
}
.l
{
    display: inline-block;
    padding: 25px 14px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 6px;
    background: #fff;
    font-size: 14px;
    line-height: 1.33;
    color: inherit;
    text-align: center;
    cursor: pointer;
    width: 127px;
}

.btn1{
    width: 7rem;
    height: 40px;
    margin: 25px;
    display: inline-block;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    border-radius: 10px;
    background: linear-gradient(to right,rgba(26,119,190,1) 0%,rgba(1,174,237,1) 100%);
    cursor: pointer;
}
.btn1:hover
{
    background: linear-gradient(to right,rgb(8, 8, 8) 0%,rgb(13, 13, 14) 100%);
}