*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.body{
    min-height: 100vh;;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/bg-signup.jpg) center/cover fixed no-repeat;
    display: flex;
}

.back i{
    font-size: 30px;
    padding-top:20px;
    padding-left:20px;
    text-decoration: none;
    color:#fb8500;
}

.body h2{
    font-size: 20px;
}

.content{    
    
    text-align: center;
    top:10vh;
    padding:20px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    height: 500px;
    width: 400px;
    margin: 4% auto 0;
    border-radius: 10px;
}

div p{
    text-align: left;
    padding-left:75px;
    color: white;
    font-size: 20px;
}

div h1{
    color: #fb8500;
    font-size:60px;
    padding-bottom: 40px;
}

div input{
    margin:10px;
    width:250px;
    height:25px;
    border-radius: 4px;
    text-decoration: none;
    
    color: white;
}

.btn a button{
    margin-top: 10px;
    padding:10px 50px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    border-radius: 5px;
    font-weight: bold;
    color:#fff;
    text-decoration: none;    
    border-width: 5px;
    border-color: #ee9b00;
    border-style:solid;
}

.btn a button:hover{
    color:white;
    background: #ee9b00;
    cursor: pointer;
    transition: .3s ease;
}

.footer{
    min-height: 15vh;
    background-color: black;
    display: flex;
    align-items: center;     
}

.footer p{
    padding:10vh;
    color:white;      
}

.social_links {
    margin-left:auto;
    margin-right: 10vh;
}

.social_links a{
    padding: 10px;
}

.fa-brands{
    color:white;
}